<div class="card color table-responsive">
	<div
		class="card-header here text-center"
		(click)="onTitleClickedChange()"
		matTooltip="Click to change color of the button"
	>
		{{ pageTitle }}
	</div>
	<br />
	<div class="card-body float-right">
		<pm-bicolor-button
			[buttonActive]="this.buttonActive"
			(buttonClicked)="onButtonClick()"
			matTooltip="Click to trigger an event in header"
			(click)="openSnackBar('You clicked the button!', '')"
			buttonText="Button Text"
		>
		</pm-bicolor-button>
	</div>
	<div class="filterMargin">
		<button mat-flat-button color="warn" (click)="resetFilters()">
			Reset
		</button>
		<mat-form-field *ngFor="let filter of filterSelectObj">
			<mat-label>Filter {{filter.name}}</mat-label>
			<select
				matNativeControl
				name="{{filter.columnProp}}"
				[(ngModel)]="filter.modelValue"
				(change)="filterChange(filter,$event)"
			>
				<option value="">-- Select {{filter.name}} --</option>
				<option
					[value]="item"
					name="name"
					*ngFor="let item of filter.options"
				>
					{{item}}
				</option>
			</select>
		</mat-form-field>
		&nbsp;
	</div>
	<mat-table
		class="table-responsive mat-elevation-z8"
		[dataSource]="dataSource"
	>
		<ng-container matColumnDef="imageUrl">
			<mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
			<mat-cell *matCellDef="let product" class="image-cell">
				<img
					*ngIf="showImage"
					[src]="product.imageUrl"
					[style.width.px]="imageWidth"
					[style.margin.px]="imageMargin"
					[matTooltip]="product.productName"
				/>
			</mat-cell>
		</ng-container>
		<ng-container matColumnDef="productName">
			<mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
			<mat-cell *matCellDef="let product">
				<a [routerLink]="['/products', product.productId]">
					{{ product.productName }}
				</a>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="productCode">
			<mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
			<mat-cell *matCellDef="let product">
				{{ product.productCode | lowercase | convertToSpaces: "-" }}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="releaseDate">
			<mat-header-cell *matHeaderCellDef>Available</mat-header-cell>
			<mat-cell *matCellDef="let product">
				{{ product.releaseDate }}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="price">
			<mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
			<mat-cell *matCellDef="let product">
				{{ product.price | currency:"USD":"symbol":"1.2-2"}}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="starRating">
			<mat-header-cell *matHeaderCellDef>Rating</mat-header-cell>
			<mat-cell *matCellDef="let product">
				{{product.starRating}}
				<pm-star
					[rating]="product.starRating"
					(ratingClicked)="onRatingClicked($event)"
				></pm-star>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
		<mat-row
			*matRowDef="let row; columns: displayedColumns;"
			(click)="onRowClicked(row)"
		></mat-row>
	</mat-table>
	<pm-bar-chart></pm-bar-chart>
</div>
