thead {
  color: #298279;
}

.color {
  color: #113632;
}

.buttonItems {
  background-color: #298279;
}

.here{
  cursor: pointer;
  color:#298279;
}

 /* ==== filters display ==== */

.filterMargin{
  margin-left: 15px;
}

mat-form-field.mat-form-field {
  font-size: 14px;
  margin-left: 50px;
}

 /* ==== table display ==== */

.mat-column-imageUrl{
  width: 135px;
  display: inline-block;
  
}
.mat-column-productName {
  width: 230px;
  display: inline-block;
  
}
.mat-column-productCode{
  width:  230px;
  
  display: inline-block;
}
.mat-column-price{
  width:  230px;
  display: inline-block;
}
.mat-column-releaseDate{
  width:  230px;
  display: inline-block;
}
.mat-column-starRating{
  width:  230px;
  display: inline-block;
}

