<div class="card color table-responsive">
	<div
		class="card-header here text-center"
		(click)="onTitleClickedChange()"
		matTooltip="Click to change color of the button"
	>
		{{ pageTitle }}
	</div>
	<br />
	<div class="card-body float-right">
		<pm-bicolor-button
			[buttonActive]="this.buttonActive"
			(buttonClicked)="onButtonClick()"
			matTooltip="Click to trigger an event in header"
			(click)="openSnackBar('You clicked the button!', '')"
			buttonText="Button Text"
		>
		</pm-bicolor-button>
	</div>
	<div class="filterMargin">
		<button mat-flat-button color="warn" (click)="resetFilters()">
			Reset
		</button>
		<mat-form-field
			class="mat-form-field"
			*ngFor="let filter of filterSelectObj"
		>
			<mat-label>Filter {{filter.name}}</mat-label>
			<select
				matNativeControl
				name="{{filter.columnProp}}"
				[(ngModel)]="filter.modelValue"
				(change)="filterChange(filter,$event)"
			>
				<option value="">-- Select {{filter.name}} --</option>
				<option
					[value]="item"
					name="name"
					*ngFor="let item of filter.options"
				>
					{{item}}
				</option>
			</select>
		</mat-form-field>
		&nbsp;
	</div>
	<table class="table-responsive" mat-table [dataSource]="dataSource">
		<ng-container matColumnDef="imageUrl">
			<th mat-header-cell *matHeaderCellDef>Image</th>
			<td mat-cell *matCellDef="let product">
				<img
					*ngIf="showImage"
					[src]="product.imageUrl"
					[style.width.px]="imageWidth"
					[style.margin.px]="imageMargin"
					[matTooltip]="product.productName"
				/>
			</td>
		</ng-container>
		<ng-container matColumnDef="productName">
			<th mat-header-cell *matHeaderCellDef>Name</th>
			<td mat-cell *matCellDef="let product">
				<a [routerLink]="['/products', product.productId]">
					{{ product.productName }}
				</a>
			</td>
		</ng-container>

		<ng-container matColumnDef="productCode">
			<th mat-header-cell *matHeaderCellDef>Code</th>
			<td mat-cell *matCellDef="let product">
				{{ product.productCode | lowercase | convertToSpaces: "-" }}
			</td>
		</ng-container>

		<ng-container matColumnDef="releaseDate">
			<th mat-header-cell *matHeaderCellDef>Available</th>
			<td mat-cell *matCellDef="let product">
				{{ product.releaseDate }}
			</td>
		</ng-container>

		<ng-container matColumnDef="price">
			<th mat-header-cell *matHeaderCellDef>Price</th>
			<td mat-cell *matCellDef="let product">
				{{ product.price | currency:"USD":"symbol":"1.2-2"}}
			</td>
		</ng-container>

		<ng-container matColumnDef="starRating">
			<th mat-header-cell *matHeaderCellDef>Rating</th>
			<td mat-cell *matCellDef="let product">
				{{product.starRating}}
				<pm-star
					[rating]="product.starRating"
					(ratingClicked)="onRatingClicked($event)"
				></pm-star>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

	<!--
	<div class="card-body color">
		<div class="row">
			<div class="col-md-2">Filter by:</div>
			<div class="col-md-4">
				<label>
					<input type="text" [(ngModel)]="listFilter" />
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="col-md-4">Filtered by:{{ listFilter }}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="col-md-4">Advanced filter</div>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table" *ngIf="products.length">
				<thead>
					<tr>
						<th>
							<button
								class="btn buttonItems"
								(click)="toggleImage()"
								matTooltip="Click to see or hide images of products"
							>
								{{ showImage ? "Hide" : "Show" }} Image
							</button>
						</th>
						<th>Product</th>
						<th>Code</th>
						<th>Available</th>
						<th>Price</th>
						<th>5 Star Rating</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let product of filteredProducts">
						<td>
							<img
								*ngIf="showImage"
								[src]="product.imageUrl"
								[style.width.px]="imageWidth"
								[style.margin.px]="imageMargin"
								[matTooltip]="product.productName"
							/>
							 [title]="product.productName | uppercase"
						</td>
						<td>
							<a [routerLink]="['/products', product.productId]">
								{{ product.productName }}
							</a>
						</td>
						<td>
							{{ product.productCode | lowercase |
							convertToSpaces: "-" }}
						</td>
						<td>{{ product.releaseDate }}</td>
						<td>
							{{ product.price | currency:"USD":"symbol":"1.2-2"}}
						</td>
						<td>
							<pm-star
								[rating]="product.starRating"
								(ratingClicked)="onRatingClicked($event)"
							></pm-star>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>-->
</div>
